/*----------------------
    MY STYLE
-----------------------*/

.ms-bg-blue{
    background-color: #2c3e50;
}
.ms-bg-green {
    background-color: #1abc9c;
}
.ms-debug-white{
    color: #ffff;
}
.ms-text-green{
    color: #1abc9c;
}
.ms-container-custom{
    max-width: 18.75rem;
}
.ms-container-custom-small{
    max-width: 12.5rem;
}
.ms-bg-footer-info{
    background-color: #3a546d;
}
.ms-flex{
    display: flex;
}
.ms-align-items-center{
    align-items: center;
}

.star::after , .star::before{
    content:"";
    width: 15%;
    height: 5px;
    color: currentColor;
    background-color:currentColor;
    border-radius: 10px;
}
.ms-btn-border{
    border: 1px solid #fff;
}

.ms-input-border{
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
}


.sm-circle{
    height: 35px;
    width: 35px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
}